<!-- navbar starts -->
<header class="sageTopNavHeaderBig">
    <nav class="sageNavbar px-3 d-flex align-items-center justify-content-between">
        <img src="../../../../../assets/images/qyrus-white-logo-gradient.svg" height="24" alt="">
        <div class="dropdown profileDropdown">
            <div class="dropdown-toggle cursorPointer d-flex" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="mr-3 pb-1 welcomeDiv">
                    <span class="fs-12 fw-400 text-white">Welcome</span><br>
                    <span class="fs-14 fw-600 text-white">Ameet D <i class="fa-solid fa-caret-down"></i></span>
                </div>
                <img src="../../../../../assets/images/ammetProfilePic.svg" alt="" class="profileImg">
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item cursorPointer">
                    <span class="profileSolidIcon bg-success-light">
                        <i class="fa-solid fa-user-gear profileIcon"></i>
                    </span> Profile
                </li>
                <hr>
                <li class="dropdown-item mb-0 cursorPointer">
                    <span class="profileSolidIcon bg-white">
                        <i class="fa-solid fa-right-from-bracket logoutIcon"></i>
                    </span>Logout
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- navbar ends -->