<div class="wrapper">
    <div class="row m-0 w-100">
        <div class="loginImg col-md-4 d-flex align-items-center">
            <div class="mx-auto">

                <div class="w-100 logo">
                    <img src="../../../assets/images/logo-white.svg">
                </div>
                <div class="w-100 logoDesc mt-3">Making testing Better, Faster, Smarter.</div>
            </div>
        </div>
        <div class="form col-md-8 p-5 d-flex align-items-center">
            <div class="loginForm px-5 w-100">
                <span class="welcomeText fw-600 mb-1">Welcome back to <p>Sage</p>
                </span>

                <p class="fw-400 descText mb-1">World's first AI-Powered Conversational Bot Testing Platform!</p>
                <p class="fw-400 reqText mb-1">Please enter your email & password to login.</p>

                <form>
                    <div formGroupName="userData">
                        <div class="form-group loginField">
                            <label class="w-100 fs-12" for="email">Email
                                <span>*</span>
                            </label>
                            <input type="email" class="form-control w-100 fs-14" id="email" formControlName="email"
                                aria-describedby="emailHelp">
                            <span class="help-block fs-14" *ngIf="">
                                please enter a valid email id.
                            </span>
                        </div>
                        <div class="form-group loginField">
                            <label for="password" class="w-100 mt-3 fs-12">Password<span>*</span></label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                            <span class="help-block fs-14" *ngIf="">
                                please enter a valid password.
                            </span>
                            <i class="fa-solid fa-eye pointer" aria-hidden="true" data-toggle="tooltip" title="Show">
                            </i>
                            <!-- <i class="fa-solid fa-eye-slash" aria-hidden="true" data-toggle="tooltip" title="Hide"> </i> -->
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4">
                        <div class="form-group form-check d-flex align-items-center fw-400 checkField mb-0">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label ml-2 fs-14" for="exampleCheck1">Remember me.</label>
                        </div>
                        <button type="submit" class="btn btn-primary signBtn fw-600 fs-14 br-4p">Sign In</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>