<!-- content starts -->
<div class="contentContainer px-3">
    <div class="containerHeading p-3">Welcome, Ameet D!</div>
    <div class="d-flex mt-4">
        <div class="card intentTestingCard mr-3 pointer">
            <div class="listTreeIcon d-flex align-items-center justify-content-center position-relative">
                <i class="fa-regular fa-bullseye-arrow faRegularIcon"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title intentTestingTitle text-center fw-600">Intent Testing</h5>
                <p class="card-text text-center intentTestingDesc fw-400">Test intent detection performance of your
                    Chatbot on a variety of examples using Intent Testing</p>
            </div>
        </div>
        <div class="card intentTestingCard mx-3 pointer">
            <div class="listTreeIcon d-flex align-items-center justify-content-center position-relative">
                <i class="fa-regular fa-list-tree faRegularIcon"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title intentTestingTitle text-center fw-600">Entity Testing</h5>
                <p class="card-text text-center intentTestingDesc fw-400">Verify entity detection capability and
                    performace of your chatbot using the Entity Testing suite provided by SAGE</p>
            </div>
        </div>
        <div class="card intentTestingCard mx-3 pointer">
            <div class="listTreeIcon d-flex align-items-center justify-content-center position-relative">
                <i class="fa-regular fa-link-horizontal faRegularIcon"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title intentTestingTitle text-center fw-600">Context Testing</h5>
                <p class="card-text text-center intentTestingDesc fw-400">Coming Soon....</p>
            </div>
        </div>
    </div>
</div>
<!-- content ends -->