<div class="contentContainer position-absolute px-3 br-8p">
    <div class="containerHeading fw-600 pr-3 align-items-center d-flex justify-content-between">
        <div class="fs-18 py-3">Intent Testing</div>
        <div class="d-flex align-items-center">
            <i class="fa-regular fa-house grayText pr-3 pointer" data-toggle="tooltip" title="Home"
                data-placement="bottom"></i>
            <i class="fa-thin fa-angle-right grayDisabled pr-2"></i>
            <span class="fw-400 fs-12 pr-2 grayText">Intent Testing</span>
        </div>
    </div>
    <div class="testCaseCard bg-white d-flex mt-3 justify-content-between p-3 br-8p">
        <div class="right d-flex fs-14 fw-400 align-items-center">
            <div>
                <input type="text" placeholder="Search" class="h-40p br-4p">
                <i class="fa-solid fa-magnifying-glass searchIcon"></i>
            </div>
            <div class="dropdown">
                <button
                    class="dropdown-toggle sortByDropdown h-40p fs-14 fw-400 br-4p d-flex align-items-center justify-content-between"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu py-0 fs-14 fw-400" aria-labelledby="dropdownMenuButton">
                    <a href="#" class="dropdown-item d-flex align-items-center justify-content-between">Created
                        Date<i class="fa-regular fa-arrow-up-a-z"></i></a>
                    <a href="#" class="dropdown-item d-flex align-items-center justify-content-between">Created
                        Date<i class="fa-regular fa-arrow-up-a-z"></i></a>
                    <a href="#" class="dropdown-item d-flex align-items-center justify-content-between">Modified
                        Date<i class="fa-regular fa-arrow-up-a-z"></i></a>
                    <a href="#" class="dropdown-item d-flex align-items-center justify-content-between">Modified
                        Date<i class="fa-regular fa-arrow-up-a-z"></i></a>
                </div>
            </div>

        </div>
        <div class="left d-flex align-items-center">
            <div>
                <label class="mr-3 mb-0  fs-12 fw-600 ">Total Records:
                    <span>100</span>
                </label>
            </div>

            <button class="btn btn-primary d-flex align-items-center h-40p  fs-12 fw-600 " data-toggle="tooltip"
                title="Create test case" data-placement="bottom"><i class="fa-solid fa-plus mr-1"></i>
                Create Test Case</button>

        </div>
    </div>
    <div class="mt-3 cardBlock">
        <div class="row mx-0 mb-3 w-100">
            <div class="card mr-3 col-md-3 px-0 br-8p">
                <label class="fs-18 fw-600 m-3">Flight Booking and FAQ
                    Agent</label>
                <span class="fs-14 fw-400 mx-3">Testing a chatbot which helps users with Flight booking and
                    information</span>

                <div class="cardBtn m-3">
                    <button class="fs-12 fw-600 br-4p mr-3">DialogFlow</button>
                    <button class="fs-12 fw-600 br-4p">advance-mode</button>
                </div>
                <div class="updateBtn row mx-0">
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-pen" data-toggle="tooltip" title="Edit" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-trash" data-toggle="tooltip" title="Delete" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 border-right-0 pointer">
                        <i class="fa-solid fa-arrow-right" data-toggle="tooltip" title="More"
                            data-placement="bottom"></i>
                    </div>
                </div>
            </div>
            <div class="card mr-3 col-md-3 px-0 br-8p">
                <label class="fs-18 fw-600 m-3">Flight Booking and FAQ
                    Agent</label>
                <span class="fs-14 fw-400 mx-3">Testing a chatbot which helps users with Flight booking and
                    information</span>

                <div class="cardBtn m-3">
                    <button class="fs-12 fw-600 br-4p mr-3">DialogFlow</button>
                    <button class="fs-12 fw-600 br-4p">advance-mode</button>
                </div>
                <div class="updateBtn row mx-0">
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-pen" data-toggle="tooltip" title="Edit" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-trash" data-toggle="tooltip" title="Delete" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 border-right-0 pointer">
                        <i class="fa-solid fa-arrow-right" data-toggle="tooltip" title="More"
                            data-placement="bottom"></i>
                    </div>
                </div>
            </div>
            <div class="card mr-3 col-md-3 px-0 br-8p">
                <label class="fs-18 fw-600 m-3">Flight Booking and FAQ
                    Agent</label>
                <span class="fs-14 fw-400 mx-3">Testing a chatbot which helps users with Flight booking and
                    information</span>

                <div class="cardBtn m-3">
                    <button class="fs-12 fw-600 br-4p mr-3">DialogFlow</button>
                    <button class="fs-12 fw-600 br-4p">advance-mode</button>
                </div>
                <div class="updateBtn row mx-0">
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-pen" data-toggle="tooltip" title="Edit" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-trash" data-toggle="tooltip" title="Delete" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 border-right-0 pointer">
                        <i class="fa-solid fa-arrow-right" data-toggle="tooltip" title="More" data-placement="bottom"
                            data-toggle="tooltip" title="More" data-placement="bottom"></i>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 px-0 br-8p">
                <label class="fs-18 fw-600 m-3">Flight Booking and FAQ
                    Agent</label>
                <span class="fs-14 fw-400 mx-3">Testing a chatbot which helps users with Flight booking and
                    information</span>

                <div class="cardBtn m-3">
                    <button class="fs-12 fw-600 br-4p mr-3">DialogFlow</button>
                    <button class="fs-12 fw-600 br-4p">advance-mode</button>
                </div>
                <div class="updateBtn row mx-0">
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-pen" data-toggle="tooltip" title="Edit" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 pointer">
                        <i class="fa-regular fa-trash" data-toggle="tooltip" title="Delete" data-placement="bottom"></i>
                    </div>
                    <div class="col-md-4 border-right-0 pointer">
                        <i class="fa-solid fa-arrow-right" data-toggle="tooltip" title="More"
                            data-placement="bottom"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>