<app-sage-ui-login></app-sage-ui-login>
<!-- <app-sage-ui-navbar></app-sage-ui-navbar> -->
<!-- <app-sage-ui-dashboard></app-sage-ui-dashboard> -->
<!-- <app-intent-testing></app-intent-testing> -->
<!-- <app-sage-ui-intent-test-runs></app-sage-ui-intent-test-runs> -->
<!-- <app-intent-test-report></app-intent-test-report> -->
<!-- <app-intent-intent-report></app-intent-intent-report> -->
<!-- <app-entity-testing></app-entity-testing> -->
<!-- <app-intent-intent-report></app-intent-intent-report> -->
<!-- <app-entity-testing></app-entity-testing> -->
<!-- <app-entity-test-script></app-entity-test-script> -->
<!-- <app-entity-test-results></app-entity-test-results> -->
<!-- <app-intent-success-test-case></app-intent-success-test-case> -->
<!-- <app-intent-edit-test-case></app-intent-edit-test-case> -->
<!-- <app-sage-ui-entity-test-runs></app-sage-ui-entity-test-runs> -->
<!-- <app-sage-ui-entity-test-phrases></app-sage-ui-entity-test-phrases> -->